<!doctype html>

<html lang="fi">
<head>
	<% if(config.trackingId){ %>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=<%= config.trackingId %>"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', '<%= config.trackingId %>');
		</script>
	<% } %>

    <meta charset="utf-8">

    <title>Mekumatutka</title>
    <meta name="description" content="Meksikolaisen uunimakkaran löytäjä">
    <meta name="author" content="Mekuma">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Mekumatutka</h1>
        </div>
        <br/>
        <% let found = false; %>
        <% mekumas.forEach(mekuma=>{ %>
            <% found = true; %>
            <div class="content">
                <h2 class="content-subhead">
                    <%- mekuma.restaurant.restaurant %>
                    <small class="text-muted">
                        <%- (new Date(parseInt(mekuma.open))).toDateString("fi-FI") %>
                    </small>
                </h2>
                <p> 
                    <b><%- mekuma.openHour %></b> - <b><%- mekuma.closeHour %></b>
                
                    <%- `Unicafe ${mekuma.restaurant.restaurant}, ${mekuma.restaurant.address}, ${mekuma.restaurant.zip}, ${mekuma.restaurant.city}` %>
                <p>
            </div>
            <br/>
        <% }) %>
        <% if(!found) { %>
			<div class="content">
                <h2 class="content-subhead">
                    Ei mekuman mekumaa.
                    <small class="text-muted">
						Voi jummijammi.
                    </small>
                </h2>
                <p>
					Voit antaa Unicafelle palautetta meksikolaisen uunimakkaran puutteesta <a href="https://www.unicafe.fi/palaute/">täällä</a>!        
                <p>
            </div>
        <% } %>
        <div class="alert alert-primary">
            <aside>
                    Vaihtoehtoisesti voit <a class="alert-link" href="/mekuma.ics">lisätä mekumatutkan</a> kalenteriisi!<br/>
                    <b>https://mekuma.herokuapp.com/mekuma.ics</b>
            </aside>
		</div>
		<div class="alert alert-secondary">
            <aside>
					Tiesitkö, että Mekumatutka on julkaistu avoimen lähdekoodin MIT-lisenssillä?<br/>
					<a class="alert-link" href="https://github.com/tuureilmarinen/mekuma">Tutustu lähdekoodiin GitHubissa!</a>
            </aside>
        </div>
    </div>
    <br/>
</body>
</html>

