<!doctype html>

<html lang="fi">
<head>
    <meta charset="utf-8">

    <title>Mekumatutka</title>
    <meta name="description" content="Meksikolaisen uunimakkaran löytäjä">
    <meta name="author" content="Mekuma">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Mekumatutka</h1>
        </div>
        <br/>
        <% let found = false; %>
        <% mekumas.forEach(mekuma=>{ %>
            <% found = true; %>
            <div class="content">
                <h2 class="content-subhead">
                    <%- mekuma.restaurant.restaurant %>
                    <small class="text-muted">
                        <%- (new Date(parseInt(mekuma.open))).toDateString("fi-FI") %>
                    </small>
                </h2>
                <p>
                    <b><%- (new Date(parseInt(mekuma.open))).toLocaleTimeString("fi-FI") %></b> - <b><%- (new Date(parseInt(mekuma.close))).toLocaleTimeString("fi-FI") %></b>
                
                    <%- `Unicafe ${mekuma.restaurant.restaurant}, ${mekuma.restaurant.address}, ${mekuma.restaurant.zip}, ${mekuma.restaurant.city}` %>
                <p>
            </div>
            <br/>
        <% }) %>
        <% if(!found) { %>
            <%=  %>
        <% } %>
        <div class="alert alert-primary">
            <aside>
                <p>
                    Vaihtoehtoisesti voit <a class="alert-link" href="/mekuma.ics">lisätä mekumatutkan</a> kalenteriisi!
                    <b>https://mekuma.herokuapp.com/mekuma.ics</b>
                </p>
            </aside>
        </div>
    </div>
    <br/>
</body>
</html>

